h1{color:black}  
h2{font-size :0.5em;}
#one{font-weight: bold;}
#one{line-height: 1.5em;}
h3 {text-align: center;}
#praias{color:rgb blue ;
margin: 15px 0px 10px 6px;}

.viagem{color:red;}

#love{color:rgb red ;}
body {font-size:20px ;}


h1{color: blue ;}  
.intro{  border-top: 10px solid rgb(245, 117, 196);}
.ol{background: rgb(247, 168, 218);
border: 2px dashed rgb(237, 38, 177);
  width: 500px;   
}   
